In [1]:
import dvc.api

# you get specific versions
# delete all csv
path = 'data/test.csv'
repo = "https://github.com/Azariagmt/dvc-mlflow-cml"
version = "v1"
# return to normal tag version and print in markdown

data_url = dvc.api.get_url(
    path=path,
    repo=repo,
    rev=version
)

In [10]:
data_url

'gdrive://1Lkng3QDhyEh1asR1iWxy3HY30F8Ay_bv/70/2189c326ce783ff913ddd6ff984946'

In [2]:
import pandas as pd

data = dvc.api.read(path=path,
                    repo=repo,
                    rev=version
                    )

In [3]:
from io import StringIO
df = pd.read_csv(StringIO(data))
df.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [5]:
train = pd.read_csv('../data/train.csv')
store = pd.read_csv('../data/store.csv')

/tmp/ipykernel_54437/4041586168.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('../data/train.csv')

In [7]:
df = train.merge(store, on='Store')

In [8]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [9]:
df.to_csv('../data/merged.csv', index=False)